<mat-drawer-container>
  <mat-drawer style="position: fixed; max-width: 20rem;" mode="over" position="end">
    <mat-tab-group>
      <mat-tab label="Details" *ngIf="overview && overview.detail">
        <app-character-detail [character]="overview.detail"></app-character-detail>
      </mat-tab>
      <mat-tab label="Comics" *ngIf="overview && overview.type === 1">
        <app-comic-list [character]="overview.detail"></app-comic-list>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>
  <mat-drawer-content>
    <!-- <app-nav></app-nav> -->
    <mat-sidenav-container class="app-container">
      <mat-sidenav class="app-full-height app-side-nav" #sidenav mode="over">
        <p></p>
        <p></p>
        <p></p>
      </mat-sidenav>

      <mat-sidenav-content>
        <p fxLayout="row" class="app-primary-dark-bg"></p>
        <!-- <p fxLayout="row" class="app-primary-dark-bg">
      <span class="app-static-nav" fxLayout="column" fxLayoutAlign="center center" fxGap="0">
        <p>
          <button mat-button (click)="sidenav.toggle()" style="color: ">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <br/>
            Home 
          </button>
        </p>
        <p>
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">library_books</mat-icon>
            <br/>
            Comics
          </button>
        </p>
        <p>
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
            <br/>
            Favorite
          </button>
        </p>
      </span> 
    </p> -->
        <p fxLayoutAlign="space-between center" style="padding-right: 15px;">
          <span fxLayoutAlign="center center">
            <button mat-button (click)="sidenav.toggle()">
              <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
            </button>
            <img width="40" alt="Angular Logo"
              src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
            Angular Superhero
          </span>
          <span>
            <button mat-button (click)="sidenav.toggle()">
              <mat-icon aria-hidden="false" aria-label="Example home icon">apps</mat-icon>
            </button>
            <button color="accent" mat-raised-button (click)="sidenav.toggle()">
              Sign In
            </button>
          </span>
        </p>
        <div class="app-content" fxLayout="row" fxLayoutAlign="center center">
          <main>
            <router-outlet fxFlex></router-outlet>
          </main>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-drawer-content>
</mat-drawer-container>