/* You can add global styles to this file, and also import other style files */
@import '@angular\material\prebuilt-themes\deeppurple-amber.css';
@import 'variables';

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $primary-dark;
    // background-image: url('assets/background.png');
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}